/* aucun intret mais à vérifier */
/* .container-grid {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
} */

.characters-img {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  max-width: 100%;
  padding-top: 10px;
  justify-content: center;
  /* border: 5px solid blue; */
  box-sizing: border-box;
}

/* .characters-img img {
  max-height: 240px;
} */

.characters-img p {
  max-width: 160px;
  text-align: center;
}

.card {
  border: 1px solid orange;
  margin: 20px;
  border-bottom-right-radius: 20px;
  justify-content: center;
  /* width: 200px; */
}

.container-img {
  /* border: solid 2px red; */
  height: 80%;
}

.container-img img {
  filter: grayscale(100%);
  height: 280px;
  width: 240px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  object-fit: cover;
  box-sizing: border-box;
}

.container-img img:hover {
  filter: grayscale(0);
  transform: scale(1.4);
}

.filters {
  border: solid 1px pink;
}

.pagination {
  /* border: solid 1px red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  width: 8rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  margin-block: 1rem;
  border: solid 1px white;
  border-radius: 2rem;
  background-color: black;
  color: white;
}

.pagination p {
  margin: 0 2rem;
}

.searchbar {
  width: 100%;
  height: 2.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: red;
}

.searchbar p {
  font-weight: bold;
  margin: 0 2rem;
}

.searchbar input {
  height: 1.2rem;
  width: 15rem;
  border: none;
  border-radius: 2rem;
}
