/* checked */

body {
  background-color: black;
}

.container {
  width: 1200px;
  background-color: black;
}

/* .homepage-img {
  border: 10px solid blueviolet;
} */

.homepage-img img {
  object-fit: cover;
}
