.body {
  background-color: black;
}

.App {
  background-color: black;
  text-align: center;
}

.container {
  width: 1200px;
  background-color: black;
}

.header-container {
  border: 1px solid blue;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 150px;
}

.nav-category {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid orange;
}

.nav-category a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 150px;
  border: 1px solid red;
}

a:hover {
  color: red;
  background-color: white;
  width: 150px;
  height: 4Opx;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header-container img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  /* background-color: red; */
}

p {
  color: white;
}
