.body {
  background-color: black;
}

.App {
  background-color: black;
  /* border: 1px solid greenyellow; */
  text-align: center;
  box-sizing: border-box;
}

.container {
  width: 1024px;
  background-color: black;
  /* border: solid red 3px; */
  margin: 0 auto;
}

.header-container {
  /* border: 1px solid blue; */
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 1px blue; */
}

.logo {
  height: 115px;
}

.nav-category {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid orange; */
  background-color: white;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.nav-category a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 150px;
  /* border: 1px solid red; */
}

a:hover {
  color: red;
  width: 150px;
  height: 4Opx;
  border-radius: 5px;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
}

.header-container img {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: flex-end;
  /* background-color: red; */
}

p {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
